<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VideoKiosK.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VideoKiosK.Properties.Settings>
            <setting name="CTIGatewayHost" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="CTIGatewayPort" serializeAs="String">
                <value>30001</value>
            </setting>
            <setting name="UserID" serializeAs="String">
                <value>administrator</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>1234</value>
            </setting>
            <setting name="Server" serializeAs="String">
                <value>AVAYA#AVAYA_ECS#CSTA#PBX</value>
            </setting>
            <setting name="DeviceID" serializeAs="String">
                <value>20001</value>
            </setting>
            <setting name="DialPassword" serializeAs="String">
                <value>123456</value>
            </setting>
            <setting name="dialPrefix" serializeAs="String">
                <value />
            </setting>
            <setting name="dialSeparator" serializeAs="String">
                <value />
            </setting>
            <setting name="DestinationID" serializeAs="String">
                <value>20002</value>
            </setting>
            <setting name="UUI" serializeAs="String">
                <value>20002</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>768</value>
            </setting>
            <setting name="X" serializeAs="String">
                <value>1050</value>
            </setting>
            <setting name="Y" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Flash" serializeAs="String">
                <value>C:\\videobanking.swf</value>
            </setting>
            <setting name="ButtonColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="URL" serializeAs="String">
                <value>D:\\Share\\_StartHere.html</value>
            </setting>
            <setting name="Host" serializeAs="String">
                <value>192.168.12.130</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>4445</value>
            </setting>
            <setting name="Browser" serializeAs="String">
                <value>iexplore</value>
            </setting>
            <setting name="OpenFlash" serializeAs="String">
                <value>cmd.exe</value>
            </setting>
            <setting name="OpenVideo" serializeAs="String">
                <value>cmd.exe</value>
            </setting>
            <setting name="HourEOD" serializeAs="String">
                <value>17</value>
            </setting>
            <setting name="MinuteEOD" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="HourStart" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="MinuteStart" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CTIGatewayPath" serializeAs="String">
                <value>C:\\CTIGateway\\CTIGateway.exe</value>
            </setting>
        </VideoKiosK.Properties.Settings>
    </userSettings>
</configuration>